// Colores

$white:#fff;
$verde: #7cea9c;
$bluegray: #2d3047;
$negro: #071013;

// tipografia

$lato: 'Lato', sans-serif;

// Pesos
$black:900;
$bold:700;
$regular:400;
$light: 300;

// Tamaños

$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
