.header {
    position: fixed;
    background-color: $verde;


    .avatar {
        margin-top: 10rem;
    }

    .textosavatar {
        margin-top: 2rem;
    }
    h2 {
        margin-top: 1rem;
    }
    
}
a.textolink:hover {
    background: white;
  }